body
{
    display: block;
}

.container-navbar
{
    display: flex;
}

.right-options
{
    justify-content: flex-end;
}

.main-body
{
    display: block;
    height: 600px;
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}


.organization-name
{
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 250px;
    font-family: 'Otomanopee One', sans-serif;
}

.donate-btn
{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: crimson;
    border: crimson;
    border-radius: 25px;
    height: 50px;
    font-size: 25px;
}

.donate-btn:hover
{
    background-color: green;
}


footer
{
    color: #fff;
    background-color: #343a40;
    text-align: center;
}

footer .left-options ul
{
    text-align: left;
    list-style: none;
    overflow: hidden;
}

footer .left-options ul li
{
    float: left;
    margin-left: 6%;
    margin-right: 6%
}


@media screen and (max-width:1200px)
{
    .organization-name
    {
        font-size: 40px;
    }

    .donate-btn
    {
        font-size: 10px;
        height: 25px;
    }

    .main-body
    {
        display: block;
        height: 553px;
        background-image: url("images/Mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer .left-options ul li
    {
        text-align: center;
        font-size: 15px;
    }
}